/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #e8f2ff;
    height: 3000px;
    margin: 0;
    padding: 0;
}


.buttonnav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /*an space-between romelis shen mogewoneba*/
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00A3FB;
    width: 100%;
    height: 12%;
    z-index: 100;
}


.headername{
    position: absolute;
    top: -30px;
    left: 300px;
    font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
}

.headername span {
    font-family: 'Dancing Script', cursive;
}

.about{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 700px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.about::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.about:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.about:hover{
    cursor: pointer;
}
.certificate{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 900px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.certificate::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-out;
}
.certificate:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.certificate:hover{
    cursor: pointer;
}

.projects{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 1100px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.projects::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.projects:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.projects:hover{
    cursor: pointer;
}






.moon{
    fill: rgb(255, 255, 255);
}

.darkmode {
    position: absolute;
    right: 300px;
    top: 40px;
    width: 31px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
}
.darkmode:hover{
    cursor: pointer;
    transform: scale(1.4);
}
.moon:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.8s ease-in-out;
    transform: rotate(360deg);
}




/*section2*/




.man {
    width: 350px;
    position: absolute;
    top: 400px;
    right: 300px;
    background-color: transparent;
}


.mynameis {
    position: absolute;
    top: 370px;
    left: 500px;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: #00A3FB;
    letter-spacing: 8px;
}

.mynameis span {
    color: rgb(0, 118, 182);
    font-family: 'Dancing Script', cursive;
    top: 50px;
}

.iam {
    position: absolute;
    top: 530px;
    left: 470px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 118, 182);
    margin-right: 20px;
}















.waves1 {
    position: absolute;
    top: 1000px;
}



.aboutme {
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 1200px;
    background-color: #00A3FB;
}