/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #e8f2ff;
    height: 5000px;
    margin: 0;
    padding: 0;
}


.buttonnav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /*an space-between romelis shen mogewoneba*/
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #007abc;
    width: 100%;
    height: 12%;
    z-index: 100;
    text-align: center;
}


.headername{
    position: absolute;
    top: -30px;
    left: 300px;
    font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
}

.headername span {
    font-family: 'Dancing Script', cursive;
}

.about{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 700px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.about::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.about:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.about:hover{
    cursor: pointer;
}
.certificate{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 900px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.certificate::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-out;
}
.certificate:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.certificate:hover{
    cursor: pointer;
}

.projects{
    position: absolute;
    width: 150px;
    height: 60px;
    top: 25px;
    left: 1100px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.projects::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.projects:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .5s ease-in-out;
}
.projects:hover{
    cursor: pointer;
}






.moon{
    fill: rgb(255, 255, 255);
}

.darkmode {
    position: absolute;
    margin-left: 1400px;
    top: 40px;
    width: 31px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
}
.darkmode:hover{
    cursor: pointer;
    transform: scale(1.4);
}
.moon:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.8s ease-in-out;
    transform: rotate(360deg);
}




/*section2*/



.description {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.mynameis {
    position: absolute;
    top: 370px;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: #00A3FB;
    letter-spacing: 8px;
    box-sizing: border-box;
}

.mynameis span {
    color: rgb(0, 118, 182);
    font-family: 'Dancing Script', cursive;
    top: 50px;
    box-sizing: border-box;
}

.iam {
    position: absolute;
    top: 530px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 118, 182);
    margin-right: 20px;
    box-sizing: border-box;
    margin-bottom: 1px;
}








.fromdesctoabout {
    position: absolute;
    top: 1100px;
}








.waves1 {
    position: absolute;
    top: -410px;
}
.waves2 {
    position: absolute;
    top: 1100px;
}



.aboutme {
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 1200px;
    background-color: #00A3FB;
}

.aboutmename {
    height: 80px;
    border-bottom: 10px solid rgb(255, 255, 255);
    position: absolute;
    color: white;
    margin-left: 50px;
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
}

.info {
    position: absolute;
    top: 300px;
    margin-left: 100px;
    color: white;
    font-weight: 1000;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    line-height: 60px;
}

.name {
    
    border-bottom: 5px solid rgb(255, 255, 255);
}
.lastname {
    
    border-bottom: 5px solid rgb(255, 255, 255);
}
.age {
    
    border-bottom: 5px solid rgb(255, 255, 255);
}
.phone {
    
    border-bottom: 5px solid rgb(255, 255, 255);
}
.email {
    
    border-bottom: 5px solid rgb(255, 255, 255);
}


.languages {
    position: absolute;
    margin-left: 1100px;
    color: white;
    top: 300px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    line-height: 100px;
}
/*html*/
.bar1 {
    width: 400px;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 9px;
    position: absolute;
    top: 130px;
}
.innerbar1 {
    background: white;
    position: absolute;
    width: 360px;
    height: 17px;
    top: 3.5px;
    left: 5px;
    border-radius: 5px;
}
.procentihtml {
    font-size: 20px;
    position: absolute;
    top: 75px;
    right: -293px;
}
/* css */
.bar2 {
    width: 400px;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 9px;
    position: absolute;
    top: 270px;
}
.innerbar2 {
    background: white;
    position: absolute;
    width: 310px;
    height: 17px;
    top: 3.5px;
    left: 5px;
    border-radius: 5px;
}
.procenticss {
    font-size: 20px;
    position: absolute;
    top: 215px;
    right: -293px;
}
/* js */
.bar3 {
    width: 400px;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 9px;
    position: absolute;
    top: 400px;
}
.innerbar3 {
    background: white;
    position: absolute;
    width: 250px;
    height: 17px;
    top: 3.5px;
    left: 5px;
    border-radius: 5px;
}
.procentijs {
    font-size: 20px;
    position: absolute;
    top: 345px;
    right: -293px;
}

/* python */

.bar4 {
    width: 400px;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 9px;
    position: absolute;
    top: 530px;
}
.innerbar4 {
    background: white;
    position: absolute;
    width: 120px;
    height: 17px;
    top: 3.5px;
    left: 5px;
    border-radius: 5px;
}
.procentipy {
    font-size: 20px;
    position: absolute;
    top: 475px;
    right: -293px;
}




.fromabouttocerti{
    position: absolute;
    top: 2500px;
}






.certificates {
    position: absolute;
    top: 2700px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 700px;
}

.certificatebigname {
    height: 80px;
    border-bottom: 10px solid #00A3FB;
    position: absolute;
    color: #00A3FB;
    margin-left: 50px;
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
}



/* cerificates */

.certificateframe1 {
    position: absolute;
    width: 600px;
    height: 360px;
    top: 330px;
    left: 50px;
    background-color: #00A3FB;
    border-radius: 9px;
}

.pythoncertificate {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 560px;
    height: 320px;
}